@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Merienda:wght@700&display=swap');
h1{
    font-size: 70px;
    font-family: 'Merienda', cursive;


}
.like,.unlike{
    color: blue;
}

.trash{
    color:red;
}
.body{
    color: black;
}
/* .card{
    text-align: center;
} */