<div class="container-fluid">
    <h2 class="text-center">Add a Quote</h2>
    <form>
        <div class="form-group">
            <label for="text">Quote</label>
            <textarea class="form-control" id="text" rows="4" required></textarea>
        </div>

        <div class="form-group">
            <label for="author">Author</label>
            <input type="text" required class="form-control" id="author">
        </div>

        <div class="form-group">
            <label for="poster">Your name</label>
            <input type="text" required class="form-control" id="poster">
        </div>

        <div>
            <div class="form-group">
                <label for="complete">Date</label>
                <input type='date' id="complete" required>

            </div>
        </div>
    </form>
</div>

